/*
 * Dominik Dąbek
 * indeks nr 29375
 * grupa Lab/2020/2021/ISI- CB3 N
 * Zachodniopomorska Szkoła Biznesu w Szczecinie
*/

html, body {
    width: 100%;
    height: auto;
    margin: 0;
    overflow: hidden;
    position: fixed;
}

body{
    background-color: black;
}

canvas {
    border: 1px solid black;
}
